<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" script-src="unsafe-inline" ; />
    <title>Worship Lyrics</title>
    <style>
      #lyric {
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
          0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000,
          1px -1px 0 #000000, -1px 1px 0 #000000;
        font-size: 72px;
        font-family: 'Arial Black', sans-serif;
        color: #ffffff;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="lyric"></div>
    <div id="debug"></div>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket-js@1.0.0/lib/stomp.js"></script>
    <script>
      window.onload = function () {
        var url = '';
        if (window.WebSocket) {
          var client, destination;
          var url = 'ws://localhost:9000/connection/message';
          client = new WebSocket(url);
          // client = Stomp.over({})

          client.onmessage = function (message) {
            document.getElementById('lyric').innerHTML = message.data;
          };
        }
      };
    </script>
  </body>
</html>
