<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" script-src="unsafe-inline" ; />
    <title>Worship Lyrics</title>
    <style>
      #lyric {
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
          0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000,
          1px -1px 0 #000000, -1px 1px 0 #000000;
        font-size: 72px;
        font-family: 'Arial Black', sans-serif;
        color: #ffffff;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="lyric"></div>
    <div id="debug"></div>
    <script src="http://localhost:9091/core/stomp.js"></script>
    <script>
      window.onload = function () {
        function connect() {
          var url = '';
          if (window.WebSocket) {
            var client, destination;
            var url = 'ws://localhost:4041/connection/message';
            client = new WebSocket(url);

            client.onmessage = function (message) {
              document.getElementById('lyric').innerHTML = message.data;
            };

            client.onclose = function (event) {
              console.debug('Sokect fechado. Reconectando.');

              document.getElementById('lyric').innerHTML = '';

              setTimeout(function () {
                connect();
              }, 1000);
            };

            client.onerror = function () {
              console.error(
                'Não foi possível se conectar com o servidor de websocket.'
              );
              client.close();
            };
          }
        }

        connect();
      };
    </script>
  </body>
</html>
