.contentButton {
  height: 44px;
  justify-content: flex-end;
  padding: 0 0;
}

.clearButton {
  margin-right: 5px;
}

.liveButton {
  background-color: rgb(1, 129, 76);
}

.liveButton:hover {
  background-color: rgb(0, 156, 91);
}

.liveButton:active {
  background-color: rgb(0, 77, 45);
}

.stopButton {
  background-color: rgb(182, 24, 24);
}

.stopButton:hover {
  background-color: rgb(212, 28, 28);
}

.stopButton:active {
  background-color: rgb(146, 19, 19);
}
