.contentResizableBlock {
  display: flex;
}
.resizableBlock {
  padding-top: 15px;
  padding-bottom: 15px;
}
.resizableBlock:first-child {
  padding-top: 0;
}
.resizableBlock:last-child {
  padding-bottom: 0;
}
.resizerDivider {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: n-resize;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    rgba(130, 130, 130, 1) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
}
